<section id="description" class="description">
  <img
    class="description-img"
    src="../img/description/Black-Knight.png"
    alt="Black Knight"
    srcset="
      ../img/description/Black-Knight.png      1x,
      ../img/description/Black-Knight@2x.png   2x,
      ../img/description/Blick-Knight-d.png    1x,
      ../img/description/Blick-Knight-d@2x.png 2x
    "
  />
  <div class="description-container">
    <h2 class="description-title">Game Description</h2>
    <p class="description-text">
      Blaze of Battle combines intense strategic gameplay with exciting
      real-time battles.<br />
      Players lead their armies into action against formidable enemies across a
      variety of stunning battlefields.<br /><br />

      Collect powerful heroes, train your troops, and forge alliances to
      dominate the battlefield.<br />
      Master the art of combat and become the ultimate warlord.<br />
      Engage in fierce skirmishes, build your empire, and rise to the top as the
      most feared commander.<br /><br />

      Whether you're launching massive assaults or defending your territory,
      Blaze of Battle offers endless tactical depth<br />
      and thrilling combat!
    </p>
  </div>
</section>
