<section id="features" class="features">
  <h2 class="features-title">Features</h2>
  <div class="features-list">
    <div class="features-item features-strategy">
      <h3 class="features-subtitle">Real-Time Strategy</h3>
      <p class="features-text">
        Command your troops in live, high-stakes battles with quick
        decision-making required.
      </p>
    </div>
    <div class="features-item features-heroes">
      <h3 class="features-subtitle">Epic Heroes</h3>
      <p class="features-text">
        Recruit a diverse set of heroes, each with unique abilities that can
        turn the tide of battle.
      </p>
    </div>
    <div class="features-item features-graphics">
      <h3 class="features-subtitle">Stunning Graphics</h3>
      <p class="features-text">
        Immerse yourself in beautifully designed battlefields and animations.
      </p>
    </div>
    <div class="features-item features-image-container fire">
      <picture>
        <source
          srcset="./img/features/Fire-d.png 1x, ./img/features/Fire-d@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/features/Fire.png 1x, ./img/features/Fire@2x.png 2x"
          media="(max-width: 320px)"
        />
        <img src="./img/features/Fire.png" alt="Fire" class="features-image" />
      </picture>
    </div>
    <div class="features-item features-modes">
      <h3 class="features-subtitle">Multiple Game Modes</h3>
      <p class="features-text">
        Engage in different modes like PvP, raids, and special events.
      </p>
    </div>
    <div class="features-item features-customization">
      <h3 class="features-subtitle">Massive Army Customization</h3>
      <p class="features-text">
        Tailor your army to fit your playstyle with strategic upgrades and
        choices.
      </p>
    </div>
    <div class="features-item features-image-container house">
      <picture>
        <source
          srcset="
            ./img/features/House-d.png    1x,
            ./img/features/House-d@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/features/House.png 1x, ./img/features/House@2x.png 2x"
          media="(max-width: 320px)"
        />
        <img
          src="./img/features/House.png"
          alt="House"
          class="features-image"
        />
      </picture>
    </div>
    <div class="features-item features-events">
      <h3 class="features-subtitle">Daily Events</h3>
      <p class="features-text">
        Participate in daily quests and challenges for extra rewards.
      </p>
    </div>
    <div class="features-item features-battles">
      <h3 class="features-subtitle">Epic Battles</h3>
      <p class="features-text">
        Experience grand battles with fully customizable strategies.
      </p>
    </div>
    <div class="features-item features-progression">
      <h3 class="features-subtitle">Hero Progression</h3>
      <p class="features-text">
        Build and upgrade heroes that enhance your army's capabilities.
      </p>
    </div>
    <div class="features-item features-arena">
      <h3 class="features-subtitle">Global PvP Arena</h3>
      <p class="features-text">
        Compete against players from all around the world in real-time PvP
        battles.
      </p>
    </div>
    <div class="features-item features-image-container orch">
      <picture>
        <source
          srcset="./img/features/Orch-d.png 1x, ./img/features/Orch-d@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/features/Orch.png 1x, ./img/features/Orch@2x.png 2x"
          media="(max-width: 320px)"
        />
        <img src="./img/features/Orch.png" alt="Orch" class="features-image" />
      </picture>
    </div>
    <div class="features-item features-campaigns">
      <h3 class="features-subtitle">Dynamic Campaigns</h3>
      <p class="features-text">
        Enjoy a rich single-player campaign with immersive storylines and
        missions.
      </p>
    </div>
    <div class="features-item features-alliances">
      <h3 class="features-subtitle">Multiplayer Alliances</h3>
      <p class="features-text">
        Form alliances with friends and players worldwide, sharing resources and
        fighting in special events together.
      </p>
    </div>
    <div class="features-item features-leaderboards">
      <h3 class="features-subtitle">Leaderboards and Tournaments</h3>
      <p class="features-text">
        Compete to be the top player on global leaderboards with seasonal
        tournaments and rewards.
      </p>
    </div>
  </div>
</section>
