<footer class="footer" id="footer">
  <div class="footer-main">
    <img
      src="./img/footer/logo.png"
      srcset="./img/footer/logo@2x.png 2x"
      alt="logo"
      class="footer-logo"
    />

    <a href="https://play.google.com/store/apps/details?id=leyi.blazeofbattle&hl=en&gl=us" target="_blank" class="google-play-link"
      ><img
        src="./img/footer/google.png"
        srcset="./img/footer/google@2x.png 2x"
        alt="google play"
        class="google-play-logo"
      />
      <div class="google-play-text">
          <p>Play on</p>
          <span>Google Play</span>
      </div>
    </a>
  </div>

 <div class="footer-submain">
      <ul class="footer-links">
        <li>
          <a href="#" target="_blank" class="footer-link">Privacy Policy</a>
        </li>
        <li>
          <a href="#" target="_blank" class="footer-link">Terms & Conditions </a>
        </li>
        <li>
          <a href="#" target="_blank" class="footer-link">Cookies Policy</a>
        </li>
      </ul>
    
      <p class="footer-copyright">All Rights Reserved blazetoppro.com | 2025</p>
 </div>
</footer>
