<section id="hero" class="hero">
  <div class="hero-container">
    <div class="hero-text">
      <h1 class="hero-title">
        <span class="first-word">Unleash</span> the Fire of Battle in Blaze of
        Battle!
      </h1>
      <button class="hero-button">
        <img src="./img/hero/Icon.png" alt="Link to the Google Play store" />
        <p class="btn-text">
          <span class="btn-first-text">Play on</span> Google Play
        </p>
      </button>
    </div>
    <div class="hero-image">
      <picture>
        <source srcset="./img/hero/hero-d.png" media="(min-width: 1200px)" />
        <img src="./img/hero/hero.png" alt="Hero image" />
      </picture>
    </div>
  </div>
</section>
