<section id="hero" class="hero">
  <div class="hero-container">
    <div class="hero-text">
      <h1 class="hero-title">
        <span class="first-word">Unleash</span> the Fire of Battle in Blaze of
        Battle!
      </h1>
      <a
        href="https://play.google.com/store/apps/details?id=leyi.blazeofbattle&hl=en&gl=us"
        target="_blank"
        class="google-play-link"
        ><img
          src="./img/footer/google.png"
          srcset="./img/footer/google@2x.png 2x"
          alt="google play"
          class="google-play-logo"
        />
        <div class="google-play-text">
          <p>Play on</p>
          <span>Google Play</span>
        </div>
      </a>
    </div>
    <div class="hero-image">
      <picture>
        <source
          srcset="./img/hero/hero-d.png 1x, ./img/hero/hero-d@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/hero/hero.png 1x, ./img/hero/hero@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img src="./img/hero/hero.png" alt="Hero image" />
      </picture>
    </div>
  </div>
</section>
