<section id="how-to-play" class="how-to-play">
  <h2 class="how-to-play__title">How to Play</h2>
  <ul class="how-to-play__list">
    <li class="how-to-play__item">
      <picture>
        <source
          srcset="
            ./img/how-to-play/Knight-d.png    1x,
            ./img/how-to-play/Knight-d@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./img/how-to-play/Knight.png    1x,
            ./img/how-to-play/Knight@2x.png 2x
          "
          media="(max-width: 319px)"
        />
        <img
          src="./img/how-to-play/Knight.png"
          alt="Heroic Leadership"
          class="how-to-play__image"
        />
      </picture>
      <div class="how-to-play-text-wrapper">
        <h3 class="how-to-play__subtitle">Heroic Leadership</h3>
        <p class="how-to-play__text">
          Recruit and upgrade legendary heroes with powerful skills to lead your
          troops to victory.
        </p>
      </div>
    </li>
    <li class="how-to-play__item">
      <picture>
        <source
          srcset="
            ./img/how-to-play/Army-d.png    1x,
            ./img/how-to-play/Army-d@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./img/how-to-play/Army.png    1x,
            ./img/how-to-play/Army@2x.png 2x
          "
          media="(max-width: 319px)"
        />
        <img
          src="./img/how-to-play/Army.png"
          alt="Command Your Army"
          class="how-to-play__image"
        />
      </picture>
      <div class="how-to-play-text-wrapper">
        <h3 class="how-to-play__subtitle">Command Your Army</h3>
        <p class="how-to-play__text">
          Deploy a variety of units, including infantry, cavalry, and siege
          weapons, each with unique abilities.
        </p>
      </div>
    </li>
    <li class="how-to-play__item">
      <picture>
        <source
          srcset="
            ./img/how-to-play/Castle-d.png    1x,
            ./img/how-to-play/Castle-d@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./img/how-to-play/Castle.png    1x,
            ./img/how-to-play/Castle@2x.png 2x
          "
          media="(max-width: 319px)"
        />
        <img
          src="./img/how-to-play/Castle.png"
          alt="Fortress Defense"
          class="how-to-play__image"
        />
      </picture>
      <div class="how-to-play-text-wrapper">
        <h3 class="how-to-play__subtitle">Fortress Defense</h3>
        <p class="how-to-play__text">
          Strengthen your base and defenses to withstand enemy raids.
        </p>
      </div>
    </li>
    <li class="how-to-play__item">
      <picture>
        <source
          srcset="
            ./img/how-to-play/Map-d.png    1x,
            ./img/how-to-play/Map-d@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/how-to-play/Map.png 1x, ./img/how-to-play/Map@2x.png 2x"
          media="(max-width: 319px)"
        />
        <img
          src="./img/how-to-play/Map.png"
          alt="Strategic Battles"
          class="how-to-play__image"
        />
      </picture>
      <div class="how-to-play-text-wrapper">
        <h3 class="how-to-play__subtitle">Strategic Battles</h3>
        <p class="how-to-play__text">
          Plan your moves carefully, using terrain and unit advantages to defeat
          enemies.
        </p>
      </div>
    </li>
    <li class="how-to-play__item">
      <picture>
        <source
          srcset="
            ./img/how-to-play/Alliance-d.png    1x,
            ./img/how-to-play/Alliance-d@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./img/how-to-play/Alliance.png    1x,
            ./img/how-to-play/Alliance@2x.png 2x
          "
          media="(max-width: 319px)"
        />
        <img
          src="./img/how-to-play/Alliance.png"
          alt="Alliance Building"
          class="how-to-play__image"
        />
      </picture>
      <div class="how-to-play-text-wrapper">
        <h3 class="how-to-play__subtitle">Alliance Building</h3>
        <p class="how-to-play__text">
          Form alliances with other players to tackle difficult challenges and
          conquer new territories together.
        </p>
      </div>
    </li>
  </ul>
</section>
