.features {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
  @include media(desktop) {
    margin-top: 100px;
    gap: 48px;
    width: 1120px;
  }
}
.features-title {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;

  @include media(desktop) {
    font-size: 48px;
  }
}
.features-list {
  display: grid;
  grid-auto-flow: column dense;
  grid-template-columns: 138px 138px;
  grid-template-rows: 128px 242px 172px 32px 238px 106px 242px 150px 153px 14px 211px 128px;
  gap: 12px;
  grid-template-areas:
    'cust cust'
    'house house'
    'battles camp'
    'heroes camp'
    'heroes graphics'
    'progres progres'
    'orch orch'
    'alliances alliances'
    'events fire'
    'events arena'
    'modes arena'
    'strategy strategy';

  @include media(desktop) {
    display: none;
  }
}
.features-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  padding: 16px;
  box-shadow: inset 4px 4px 5px 0 rgba(189, 76, 76, 0.1),
    4px 4px 30px 0 rgba(21, 10, 10, 0.29), 4px 4px 5px 0 rgba(18, 17, 17, 0.26),
    inset 4px 4px 10px 0 rgba(204, 45, 45, 0.3),
    inset -4px -4px 4px 0 rgba(191, 40, 40, 0.05);
  background-color: rgba(121, 35, 35, 0.47);
  @include media(desktop) {
    gap: 16px;
    padding: 20px 24px;
  }
}

.features-list-flex {
  display: none;
  @include media(desktop) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.features-subtitle {
  font-size: 16px;
  text-align: center;

  @include media(desktop) {
    text-align: left;
  }
}
.features-text {
  line-height: 1.6;
  text-align: center;
  @include media(desktop) {
    text-align: left;
  }
}

.features-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.house {
  grid-area: house;
  @include media(desktop) {
    max-width: 222px;
    flex-shrink: 0;
  }
}
.fire {
  grid-area: fire;
  @include media(desktop) {
    max-width: 137px;
    flex-shrink: 0;
  }
}
.orch {
  grid-area: orch;
  @include media(desktop) {
    max-width: 209px;
    flex-shrink: 0;
  }
}
.features-strategy {
  grid-area: strategy;
  @include media(desktop) {
    flex: 1;
  }
}
.features-heroes {
  grid-area: heroes;
  @include media(desktop) {
    max-width: 170px;
  }
}
.features-graphics {
  grid-area: graphics;
  @include media(desktop) {
    max-width: 371px;
  }
}

.features-progression {
  grid-area: progres;
  @include media(desktop) {
    max-width: 301px;
  }
}
.features-modes {
  grid-area: modes;
  @include media(desktop) {
    flex: 1;
  }
}
.features-customization {
  grid-area: cust;
  @include media(desktop) {
    max-width: 302px;
  }
}
.features-events {
  grid-area: events;
  @include media(desktop) {
    flex: 1;
  }
}
.features-battles {
  grid-area: battles;
  @include media(desktop) {
    max-width: 157px;
  }
}
.features-arena {
  grid-area: arena;
  @include media(desktop) {
    flex: 1;
  }
}
.features-campaigns {
  grid-area: camp;
  @include media(desktop) {
    max-width: 323px;
  }
}

.features-alliances {
  grid-area: alliances;
  @include media(desktop) {
    max-width: 416px;
  }
}
.features-leaderboards {
  // grid-area: lead;
  display: none;
}

.features-desktop-subblock-1,
.features-desktop-subblock-2,
.features-desktop-subblock-3,
.features-desktop-subblock-4,
.features-desktop-subblock-5,
.features-desktop-block-1,
.features-desktop-block-2 {
  display: flex;
  gap: 16px;
}

.features-desktop-main-subblock-1,
.features-desktop-main-subblock-2,
.features-desktop-main-subblock-3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
