.hero {
  padding-top: 111px;
  height: 596px;
  position: relative;

  background: linear-gradient(rgba(27, 26, 25, 0.6), rgba(0, 0, 0, 0.07));

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
      rgba(27, 26, 25, 0.6),
      rgba(0, 0, 0, 0.07)
    );
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -111px;
    left: -16px;
    right: -16px;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  // &::after:nth-child(2) {
  //   content: '';
  //   position: absolute;
  //   top: -111px;
  //   left: -16px;
  //   right: -16px;
  //   bottom: 0;
  //   background-image: url(../img/hero/smoke-bottom.png);
  //   background-size: cover;
  //   background-position: bottom;
  //   background-repeat: no-repeat;
  //   z-index: 4;
  //   opacity: 0.5;
  // }

  &::before {
    background-image: url('/img/hero/Bg-photo.png');
    z-index: 1;
  }

  &::after {
    background-image: url('/img/hero/smoke-bottom.png');
    background-position: bottom;
    z-index: 2;
  }

  @media (min-resolution: 2dppx) {
    &::before {
      background-image: url('/img/hero/Bg-photo@2x.png');
    }

    &::after {
      background-image: url('/img/hero/smoke-bottom@2x.png');
    }
  }

  @include media(desktop) {
    margin-top: 130px;
    height: 590px;
    &::before {
      background-image: url('/img/hero/Bg-photo-d.png');
      top: -130px;
      left: -40px;
      right: -40px;
    }
    &::after {
      background-image: url('/img/hero/smoke-bottom-d.png');
      left: -40px;
      right: -40px;
    }
  }

  @media (min-resolution: 2dppx) and (min-width: 1200px) {
    &::before {
      background-image: url('/img/hero/Bg-photo-d@2x.png');
    }
    &::after {
      background-image: url('/img/hero/smoke-bottom-d@2x.png');
    }
  }
}

.hero-container {
  z-index: 3;
  position: relative;
  @include media(desktop) {
  }
}

.hero-text {
  height: 596px;
  margin-bottom: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media(desktop) {
    gap: 32px;
    justify-content: center;

    width: 622px;
    height: 370px;
    padding-top: 68px;
  }
}

.hero-title {
  position: relative;
  z-index: 3;
  font-weight: 900;
  font-size: 27px;
  line-height: 1.4;
  @include media(desktop) {
    margin-top: 198px;
    font-size: 60px;
  }
}
.first-word {
  display: block;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  border-radius: 10px;
  padding: 10px;
  width: 288px;
  height: 74px;
  border: none;
  box-shadow:
    inset 4px 4px 5px 0 rgba(189, 76, 76, 0.1),
    4px 4px 30px 0 rgba(21, 10, 10, 0.1),
    4px 4px 5px 0 rgba(18, 17, 17, 0.1),
    inset 4px 4px 10px 0 rgba(204, 45, 45, 0.6),
    inset -4px -4px 4px 0 rgba(191, 40, 40, 0.05);
  background-color: #8f2c23;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  cursor: pointer;
  margin-bottom: 46px;
  position: relative;
  z-index: 10;
  :hover {
    background-color: #b82e21;
  }

  @include media(desktop) {
    gap: 20px;
    padding: 16px 32px;
    width: 275px;
    height: 92px;
    justify-content: flex-start;
  }
}

.hero-button img {
  width: 48px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
    width: 55px;
    height: 60px;
  }
}

.btn-text {
  width: 120px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  @include media(desktop) {
    width: 144px;
    height: 60px;
    font-size: 24px;
  }
}
.btn-first-text {
  font-weight: 400;
  font-size: 16px;
}

.hero-image {
  width: 100%;
  width: 329px;
  height: 456px;

  position: absolute;
  z-index: 4;
  bottom: 25px;
  left: 45%;
  transform: translateX(-50%);
  overflow: hidden;
  @include media(desktop) {
    width: 460px;
    height: 614px;

    bottom: -65%;
    left: 80%;
  }
}
.hero-image img {
  width: 100%;
  height: auto;
}
