@import './header.scss';
@import './hero.scss';
@import './description.scss';
@import './how-to-play.scss';
@import './features.scss';
@import './uniqes.scss';
@import './gallery.scss';
@import './reviews.scss';
@import './footer.scss';
@import './cookie-policy.scss';

:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Cinzel', sans-serif;
  --black-lighter: #585858;
  --black: #292929;
  --white: #fff;
  --red-card: rgba(121, 35, 35, 0.47);
  --primary-red: #8f2c23;
  --gray-transparent: rgba(49, 38, 34, 0.4);
  --gray: #444;
  --bg: #250f00;
  --card-transparent: rgba(49, 38, 34, 0.4);
  --cookies-card: #5a1818;
  --red-btn-light: #b82e21;
  --red-links-hover: #ff4d3c;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  font-weight: 156%;

  color: var(--white);
  background-color: var(--bg);
}
