@import './header.scss';
@import './hero.scss';
@import './description.scss';
@import './how-to-play.scss';
@import './features.scss';
@import './uniqes.scss';
@import './gallery.scss';
@import './reviews.scss';
@import './footer.scss';
@import './cookie-policy.scss';
@import './policies.scss';

:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Cinzel', sans-serif;
  --black-lighter: #585858;
  --black: #292929;
  --white: #fff;
  --red-card: rgba(121, 35, 35, 0.47);
  --primary-red: #8f2c23;
  --gray-transparent: rgba(49, 38, 34, 0.4);
  --gray: #444;
  --bg: #250f00;
  --card-transparent: rgba(49, 38, 34, 0.4);
  --cookies-card: #5a1818;
  --red-btn-light: #b82e21;
  --red-links-hover: #ff4d3c;

  font-family: var(--font-family);
  font-size: 14px;
  line-height: 157%;
  font-weight: 400;

  color: var(--white);
}

.global-wrapper {
  background-color: var(--bg);

  margin: 0 auto;

  @include media(mobile) {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 320px;
  }

  @include media(desktop) {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--second-family);
}

body {
  position: relative;
}
