.uniqes {
  @include media(mobile) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @include media(desktop) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.uniqes-title.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.uniqes-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../img/uniqes/dragons-bg-d.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: inset 4px 4px 5px 0 rgba(166, 166, 166, 0.1),
    4px 4px 30px 0 rgba(21, 10, 10, 0.29), 4px 4px 5px 0 rgba(18, 17, 17, 0.26),
    inset 4px 4px 10px 0 rgba(184, 184, 184, 0.15),
    inset -4px -4px 4px 0 rgba(99, 99, 99, 0.05);
  border-radius: 40px;

  @include media(mobile) {
    align-items: center;
    padding: 16px 12px;
    max-width: 288px;
    margin: 0 auto;
  }

  @include media(desktop) {
    align-items: flex-end;
    max-width: unset;
    margin: auto;
    gap: 300px;
    padding: 94px 80px;
  }
}

.uniqes-article:nth-child(4) {
  @include media(desktop) {
    align-self: flex-start;
  }
}

@media (min-resolution: 192dpi) {
  .uniqes-container {
    background-image: url('../img/uniqes/dragons-bg-d@2x.jpg');
  }
}

.uniqes-article {
  @include media(mobile) {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 264px;
    align-items: center;
    text-align: center;
  }

  @include media(desktop) {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 472px;
    align-items: flex-start;
    text-align: left;
  }
}

.uniqes-image-wrapper {
  @include media(desktop) {
    position: absolute;
  }
}

.uniqes-title {
  font-weight: 700;
  @include media(mobile) {
    line-height: 140%;
    font-size: 20px;
  }
  @include media(desktop) {
    line-height: 137%;
    font-size: 48px;
  }
}

.uniqes-desc {
  @include media(desktop) {
    font-size: 16px;
    line-height: 156%;
  }
}

.red-dragon {
  @include media(mobile) {
    max-width: 264px;
    margin-bottom: 16px;
  }

  @include media(desktop) {
    left: 48px;
    top: 50px;
    max-width: 412px;
  }
}

.blue-dragon {
  @include media(mobile) {
    max-width: 264px;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  @include media(desktop) {
    right: 95px;
    bottom: 69px;
    max-width: 359px;
  }
}
